<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Changa&effect=wallpaper" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/webapp.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
{% block body_block %}
<div class = "hero-unit">
    <h1  class = "font-effect-wallpaper"><center><em>{{ City.name }}: Enter or Edit Data </em></center></h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class = "container">
        <form action="{% url 'cityscore:enter_val' city.cityname %}" method="post">
            {% csrf_token %}
            {% for metric in city.metric_set.all %}
                <input type="number" name="today_val" id="{{ metric.name }}" value="{{ metric.name }}"/>
                <label for="{{metric.name}}">{{ metric.name }}</label><br />
                <input type="date" name="set_date" id="{{ metric.name }}" value="{{ date.today }}"/>
                <input type="submit" value="Enter" class = "action" action = "enter_val"/>
            {% endfor %}

        </form>
    </div>
</div>
{%endblock%}