<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Changa&effect=wallpaper" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/webapp.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>

{% block body_block %}
<div class = "hero-unit">
    <h1  class = "font-effect-wallpaper">{{ City.cityname }}: Create New Metric</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <div class = "container">
        <form action="{% url 'cityscore:new_metric' city.cityname %}" method="post" class = "pure-form">
            {% csrf_token %}
            <h4> Enter a name for your metric.</h4>
            <input type = "text" id = "{{city.id}}" name = "name" value ="Enter name." required/>
            <h4> Briefly define the metric. </h4>
            <input type = "text" id = "{{city.id}}" name = "def" value ="Briefly define." required/>
            <h4>When you set a target for this metric, do you want the metric to move up or down?</h4>
            <input type = "radio" id = "{{city.id}}" name = "dir" value ="Up" required/>
            <input type = "radio" id = "{{city.id}}" name = "dir" value ="Down" required/>
            <h4>Would you like to set a target value for this metric, or should we calculate one for you? </h4>
            <input type = "radio" id = "{{city.id}}" name = "hist" value ="Yes" required/>
            <input type = "radio" id = "{{city.id}}" name = "hist" value ="No" required/>
            <h4>If you responded yes to the above, what is the target you would like to set? </h4>
            <input type="number" name="target" id="{{ city.id }}" value=0/>
            <input type="submit" value="Create My Metric!" class = "action"/>
        </form>
    </div>
</div>

{% endblock %}